blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0;
}

body {
	min-height: 100vh;
}

h1 {
	font-size: var(--step-5);
	line-height: 1;
}
h2 {
	font-size: var(--step-3);
	line-height: 1;
}
h3 {
	font-size: var(--step-2);
}

a {
	text-decoration: none;
	color: var(--mauve);
}

html:focus-within {
	scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

button {
	display: inline-block;
	border: none;
	padding: 0.25rem 0.75rem;
	margin: 0;
	text-decoration: none;
	background-color: var(--blue);
	color: var(--crust);
	font-weight: bold;
	font-size: var(--step-1);
	cursor: pointer;
	text-align: center;
	appearance: none;
	border-radius: 100px;

	&:hover,
	&:focus {
		background: var(--sky);
	}

	&:focus {
		outline: 1px solid var(--text);
		outline-offset: -4px;
	}

	&:active {
		transform: scale(0.99);
	}
}

::selection {
	background: var(--yellow);
	color: var(--crust);
}

*:focus-visible {
	outline-color: var(--peach);
}

.hidden {
	display: none !important;
	visibility: hidden;
}

@layer base {
	:root {
		--width: 730px;
	}

	.w-content {
		width: calc(var(--width) * 0.85);
	}

	.w-post {
		@extend .w-content;
	}
}
